<div class="container">
	<%= render 'home/hero' %>
	<div class="page-header">
		<h2>Offerings <small><%= @questions.all.size %> cultures available</small></h2>
	</div>
	<% @questions.each do |q| %>
	<div class="col-md-6 col-lg-6">
		<div class="panel panel-default" data-target="<%= question_path(q) %>">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<h4 class="media-heading"><%= q.starterName %>
				<% if q.answers.all.size > 0 %>
				<span class="label label-info"><%= q.answers.all.size %> trade offers submitted</span>
				<% end %>
				<% if q.answers.all.size < 1 %>
				<span class="label label-success">Available</span>
				<% end %>
				</h4>
				<a  class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= q.id %>" aria-expanded="false" aria-controls="collapseOne">More Info</a>
				<div id="collapse<%= q.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
					<ul class="list-group">
						<li class="list-group-item"><strong>Submitted By: </strong><a href="mailto:<%= q.email %>"><%= q.name %></a></li>
						<li class="list-group-item"><strong>Culture Name: </strong> <small><%= q.starterName %></small></li>
						<li class="list-group-item"><strong>Culture Age: </strong><%= q.starterAge %> Years Old</li>
						<li class="list-group-item"><strong>Culture Origin: </strong><%= q.location %></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				<p><%= q.body %></p>
				<a class="pull-right" href="<%= question_path(q) %>"><button type="button" class="btn btn-default">Make an Offer</button></a>
			</div>
		</div>
	</div>
	<% end %>
	<% if @questions.empty? %>
	<div class="alert alert-info" role="alert">Nothing to show</div>
	<% end %>
</div>